@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("/fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy/Gilroy-Regular.woff2") format("woff2"),
    url("/fonts/Gilroy/Gilroy-Regular.woff") format("woff"),
    url("/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("/fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy/Gilroy-Medium.woff2") format("woff2"),
    url("/fonts/Gilroy/Gilroy-Medium.woff") format("woff"),
    url("/fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
    url("/fonts/Gilroy/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy/Gilroy-Semibold.woff2") format("woff2"),
    url("/fonts/Gilroy/Gilroy-Semibold.woff") format("woff"),
    url("/fonts/Gilroy/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("/fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy/Gilroy-Bold.woff2") format("woff2"),
    url("/fonts/Gilroy/Gilroy-Bold.woff") format("woff"),
    url("/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --main: #0c0c0c;
  --accent: #3350e9;
  --background: #fbfbfb;
  --cards: #f3f3f3;
  --font-family: "Gilroy", sans-serif;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  font-style: normal;
  background-color: var(--background);
  color: var(--main);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  color: var(--accent);
}

img {
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
}

p {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
}
