@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("/fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy/Gilroy-Regular.woff2") format("woff2"),
    url("/fonts/Gilroy/Gilroy-Regular.woff") format("woff"),
    url("/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("/fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy/Gilroy-Medium.woff2") format("woff2"),
    url("/fonts/Gilroy/Gilroy-Medium.woff") format("woff"),
    url("/fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
    url("/fonts/Gilroy/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy/Gilroy-Semibold.woff2") format("woff2"),
    url("/fonts/Gilroy/Gilroy-Semibold.woff") format("woff"),
    url("/fonts/Gilroy/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("/fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy/Gilroy-Bold.woff2") format("woff2"),
    url("/fonts/Gilroy/Gilroy-Bold.woff") format("woff"),
    url("/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --main: #0c0c0c;
  --accent: #3350e9;
  --background: #fbfbfb;
  --cards: #f3f3f3;
  --font-family: "Gilroy", sans-serif;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  font-style: normal;
  background-color: var(--background);
  color: var(--main);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  color: var(--accent);
}

img {
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
}

p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.container {
  max-width: 1182px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: block;
  padding: 32px 0;
  text-transform: lowercase;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}

.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__nav {
}

.header__nav-list {
  display: flex;
  gap: 40px;
}

.header__nav-list-item {
}

.header__nav-link {
  display: block;
  padding: 30px 0 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.285;
}

/* .header__nav-link--active::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--accent);
  margin: 2px auto 0;
} */

.header__contacts {
}

.header__contact-list {
  display: flex;
  gap: 10px;
}

.header__contact-list-item {
}

.header__contact-link {
  display: block;
  padding: 32px 0;
}

.header__contact-icon {
}

.main {
  padding-top: 30px;
  padding-bottom: 50px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.92;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.hero-section {
}

.hero-container {
}

.hero__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hero__main-content {
}

.hero__secondary-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__title {
  max-width: 597px;
  margin-bottom: 20px;
  font-size: 72px;
  line-height: 0.875;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.hero__title-accent {
  color: var(--accent);
}

.hero__text {
  max-width: 480px;
}

.hero__icon-list {
  display: flex;
  max-width: 146px;
}

.hero__icon-list-item {
  width: calc((100% - 60px) / 2);
}

.hero__icon-list-item:last-child {
  width: 60px;
}

.hero_icon {
  width: 60px;
  height: 60px;
}

.hero__scroll-down {
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-align: end;
}

.hero-section__banner {
  border-radius: 50px;
}

.about-us__container {
  display: flex;
  justify-content: space-between;
}

.about-us__content {
  max-width: 580px;
  padding: 80px 60px;
  background-color: var(--cards);
  border-radius: 50px;
}

.about-us__title {
}

.about-us__text {
  margin-bottom: 40px;
}

.about-us__text > :not(:last-child) {
  margin-bottom: 20px;
}

.about-us__link {
  display: inline-block;
  padding: 15px 38px;
  border-radius: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--background);
  background-color: var(--accent);
}

.about-us__link:hover,
.about-us__link:focus {
  color: var(--background);
  background-color: #1f3cd4;
}

.catalog__title {
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 23px;
}

.catalog__list-item {
  width: calc((100% - 46px) / 3);
  background-color: var(--cards);
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
}

.catalog__item {
  display: block;
  height: 100%;
  padding: 24px 32px;
}

.catalog__item-thumb {
  padding: 6px 6px 14px;
  margin-bottom: 10px;
  width: 312px;
  height: 312px;
}

.catalog__item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.catalog__item-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(12, 12, 12, 0.5);
}

.contact-us-banner {
}

.contact-us-banner__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 83px 80px;
  background-color: #0c0c0c;
  background-image: url("/images/contact_us_banner_bg.png");
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}

.contact-us-banner__title {
  max-width: 690px;
  font-weight: 600;
  font-size: 48px;
  line-height: 0.92;
  color: var(--background);
}

.contact-us-banner__title--accent {
  color: rgba(251, 251, 251, 0.5);
}

.contact-us-banner__link {
  display: block;
  padding: 14px 43px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--background);
  border: 1px solid var(--background);
  border-radius: 16px;
}

.contact-us-banner__link:hover,
.contact-us-banner__link:focus {
  color: var(--main);
  background-color: var(--background);
}
